.c-hero {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    width: 100%; 
    color: white;
    padding: 0 0 100px 0;
    z-index: -1;

    &.-green {
        background: #94ffb0;
    }

    &.-red {
        background: #ff5e4d;
    }

    &.-purple {
        background: #e07dff;
    }

    &.-blue {
        background: #0de3ff;
    }

    h1 {
        font-size: 50px;
        position: relative;
        top: -17px;
    }
}