.c-project-card {
    @include span-col(4);
    background: white;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    img {
        width: 100%;
        height: 180px;
        margin-bottom: 0;
        display: block;
    }

    h4 {
        margin: 10px 0;
        padding: 0 10px;
        font-weight: 100;
        font-size: 14px;
        letter-spacing: .1em;
    }
}